@import 'theme.css';
:root{
    --dark-link-color: #ff83c0 !important;
}

.pre{
    color: #ff4bad !important;
}
.headerlink{
    color: #ff83c0 !important;
}
.sig-object{
    background-color: #290818 !important;
    color: #C955F3 !important;
}

.property > span{
    color: #C955F3 !important;
}
.sig-paren, .sig-param{
    color: #C955F3 !important;
}
span.nf, span.nc, span.mi, span.mh{
    color: #d93939 !important;
}